NODE_ENV=development
PORT=8080
MONGODB_URI=mongodb+srv://juniorsohou57:MonBudget2026!@cluster0.fgjbh9x.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
MONGODB_DB=taskmaster
JWT_ACCESS_SECRET=CHANGE_ME_ACCESS_SECRET_32_CHARS_MIN
JWT_REFRESH_SECRET=CHANGE_ME_REFRESH_SECRET_32_CHARS_MIN
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
CLIENT_URL=http://localhost:5173
VAPID_PUBLIC_KEY=GENERATE_WITH_npx_web-push_generate-vapid-keys
VAPID_PRIVATE_KEY=GENERATE_WITH_npx_web-push_generate-vapid-keys
VAPID_SUBJECT=mailto:juniorsohou57@gmail.com
